---
layout: default
title: Comic
permalink: /comic/
paginate:
  limit: false
  category: 'comic'
---

{% include html/comic-pagination.html %}

{% for post in paginator.posts %}
{% if post.layout == "post" %}
{% unless post.hidden %}
<div class="posts">
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
</div>
{% endunless %}
{% endif %}

{% if post.layout == "comic" %}
{% unless post.hidden %}
<div class="comic">
  <h1 class="comic-title">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>

  <figure>
    <img src="{{ site.baseurl }}/assets/comic/{{ post.comic_id }}.png">

    <figcaption class="commentary">
      {{ post.content }}
    </figcaption>
  </figure>
</div>
{% endunless %}
{% endif %}
{% endfor %}

{% include html/comic-pagination.html %}

<!--div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div-->
