---
layout: default
title: Home
---

{% if site.categories.updates %}
<!-- BEGIN updates -->
<section class="home-feature">
  <div class="log-archive">
    {% for post in site.categories.updates limit:1 %}
    {% if post.layout == 'post' %}
    <a href="{{ post.url }}">
      <div class="message">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}:</time>
        {{ post.title }}
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</section>
<!-- END updates -->
{% endif %}

<section class="home-feature">
  <h1>radio stream</h1>

  <p>Listen to the stream:</p>
  <ul class="radio-links">
    <li><h2 class="radio-link"><a href="{{ site.baseurl }}/stream">MOONLIGHT radio</a></h2></li>
  </ul>
  <p>Listen on any player:</p>
  <ul class="stream-links">
    {% for stream in site.radio.stream_url %}
    <li><a href="{{ stream[1] }}" target="_blank">{{ stream[0] }} <span class="kbps">kbps</span></a></li>
    {% endfor %}
  </ul>
</section>

{% if site.categories.logs %}
<!-- BEGIN logs -->
<section class="home-feature">
  <h1>latest from: logs</h1>
  <div class="log-archive">
    {% for post in site.categories.logs limit:3 %}
    {% if post.layout == 'logs' %}
    <a href="{{ post.url }}">
      <div class="log-archive-item">
        {% if post.date %}
        <time datetime="{{ post.date | date_to_xmlschema }}" class="archive-date">{{ post.date | date_to_string }}</time>
        {% endif %}
        <span class="archive-title">{{ post.title }}</span>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
  <a class="btn-more" href="{{ site.baseurl }}/logs">view more...</a>
</section>
<!-- END logs -->
{% endif %}

<section class="home-feature">
  <h1>other shenanigans</h1>

  <p><a href="{{ site.baseurl }}/files">View our file stash</a></p>
</section>
