---
layout: default
title: logs
permalink: /logs/
paginate:
  limit: false
  per_page: 10
  category: 'logs'
---

<div class="page">
  <h1 class="page-title">logs</h1>
  <p><a href="{{ site.baseurl }}/logs/submit">Click here</a> to submit a log.</p>

  <div class="log-archive">
    <h2 class="text-center">log archives{% unless paginator.page == 1 %} - page {{ paginator.page }}{% endunless %}</h2>

    {% for post in paginator.posts %}
    <a href="{{ post.url }}">
      <div class="log-archive-item">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="archive-date">{{ post.date | date_to_string }}</time>
        <span class="archive-title">{{ post.title }}</span>
      </div>
    </a>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
</div>
