// Helpers
//
// Basic helpers for HTML layouts.

// Text alignment

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Visibility

.hidden-sm {
  @media (max-width: $grid-breakpoint) {
    display: none;
  }
}

.hidden-lg {
  @media (max-width: $grid-breakpoint) {
    display: none;
  }
}
