<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="thanks">

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1>done <a href="{{ site.baseurl }}/updates/moonlight-is-no-more">*</a></h1>
            <p class="lead">thanks for everything.</p>

            <hr>

            <small>&mdash; the STARLIGHT crew</small><br>
            <small>
              Dive into our archives:
              <a href="{{ site.baseurl }}/logs">logs</a> | <a href="{{ site.baseurl }}/files">files</a>
            </small>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
